{% load static %}

<!--
<h3>Hello world</h3>
<img src="{% static 'images/photos.jpg' %}" >
-->

<!DOCTYPE html>
<html>
<head>
	<title>Resume</title>
	<link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
  </head>
   <div class="why">
  <body class="text-center ">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column ">
  <header class="masthead mb-auto text-white rounded bg-dark">
    <div class="inner">
      <h3 class="masthead-brand">RESUME</h3>
      <nav class="nav nav-masthead justify-content-center">
        <input  class=" rounded bg-dark text-white " type="button"  onclick="history.back();" value="CV"/>
      </nav>
    </div>
  </header>

<br>
	<div class="container">
<!--
	<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-2">
    <h4>RESUME</h4>
    </div>
  -->
  </div>
		<body class="text-center ">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column ">
				<div class="card card-body h-100  border-info text-white rounded bg-dark" id="profile-wrapper">
					<p><center>“I have all the necessary skills and work experience to cope with the job responsibilities of a project manager. In addition to successful experience in project management and implementation, I also have excellent skills in interacting with people – I have always found a common language with customers, developers, suppliers. Especially for me, this field is not just a job, it's exactly what I like to do.”</center>
				</div>
			</div>

			
<br>
</body>
</html>